

    <div class="jumbotron">
        <h1></h1>
        <p></p>
    </div>

    <div class = "">
        <!-- div for  -->

        
    </div>    
    <% if (loggedIn) {%>  
        <form method="post" action="/courses/bySubject">
            Show Courses by Subject: 
              <input type="text" name="subject" 
                     placeholder="e.g. COSI">
            <input type="submit">
        </form>
    <% } else {%>

    <% }%>




